<!DOCTYPE html> 
<html> 
	<head> 
		<title>database</title> 
	</head> 

    <style> 
        pre
        {
            width:450px; 
            word-wrap:break-word;
            text-align: left;
        }
    </style>

 
	<body>
        <center>
            <h1>This is the database for pets</h1>
            <br>


            <div>
                <a href="https://final-project-407620.wl.r.appspot.com/users"><button>Manage Users Database</button></a>
            </div>
            <br>
            <div>
                <a href="https://final-project-407620.wl.r.appspot.com/animal">Home</a>
            </div>



        </center>
    </body>
    
</html> 