<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
    <table id="userTable">
        <thead>
            <tr>
                <th>Owner ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Email</th>
                <th>Access</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- User data will be inserted here -->
        </tbody>

    </table>

    <br>
    <br>
    <div>
        <a href="/database">Database</a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetchUserData();
        });

        function fetchUserData() {
            fetch('https://final-project-407620.wl.r.appspot.com/owners')
            .then(function(res) 
            {
                return res.json();
            })
            .then(function(output) 
            {
                console.log(output);
                output.forEach(output => {
                        populateTable(output);
                    });
            })
            .catch(function(error)
            {
                console.log(error);
            });
        
        }

        function populateTable(user) {
            const tableBody = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            const newRow = tableBody.insertRow();

            const cellOwnerId = newRow.insertCell();
            cellOwnerId.textContent = user.owner_id;

            const cellFirstName = newRow.insertCell();
            const inputFirstName = document.createElement('input');
            inputFirstName.value = user.first_name;
            cellFirstName.appendChild(inputFirstName);

            const cellLastName = newRow.insertCell();
            const inputLastName = document.createElement('input');
            inputLastName.value = user.last_name;
            cellLastName.appendChild(inputLastName);

            const cellPhone = newRow.insertCell();
            const inputPhone = document.createElement('input');
            inputPhone.value = user.phone;
            cellPhone.appendChild(inputPhone);

            const cellAddress = newRow.insertCell();
            const inputAddress = document.createElement('input');
            inputAddress.value = user.address;
            cellAddress.appendChild(inputAddress);

            const cellEmail = newRow.insertCell();
            const inputEmail = document.createElement('input');
            inputEmail.value = user.email;
            cellEmail.appendChild(inputEmail);

            const cellAccess = newRow.insertCell();
            const inputAccess = document.createElement('input');
            inputAccess.value = user.access;
            cellAccess.appendChild(inputAccess);

            const cellActions = newRow.insertCell();
            const updateButton = document.createElement('button');
            updateButton.textContent = 'Update';
            updateButton.addEventListener('click', function() {
                updateUser(user, user.id, inputFirstName.value, inputLastName.value, inputPhone.value, inputAddress.value, inputEmail.value, inputAccess.value);
            });
            cellActions.appendChild(updateButton);
        }

        function updateUser(user, id, first_name, last_name, phone, address, email, access) {

            first_name = first_name ? first_name.toString() : '';
            last_name = last_name ? last_name.toString() : '';
            phone = phone ? phone.toString() : '';
            address = address ? address.toString() : '';
            email = email ? email.toString() : '';


            let url = `https://final-project-407620.wl.r.appspot.com/owners/database/${id}`;
            
            let body = 
            {
                'first_name': first_name,
                'last_name': last_name,
                'phone': phone,
                'address': address,
                'email': email,
                'access': access
            };

            let info =
            {
                method: 'PATCH',
                body: JSON.stringify(body),
                headers: new Headers
                ({
                    'Content-Type': 'application/json',
                })
            };

            fetch(url, info)
            .then(function(res) 
            {
                return res.json();
            })
            .then(function(output) 
            {
                console.log(output);
            })
            .catch(function(error)
            {
                console.log(error);
            });
        };

    </script>
</body>
</html>